{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}
{%- style -%}
  .header__inline-menu {
    font-family: 'Poppins', sans-serif;
  }
  @media (min-width: 900px) {
    .header {
      display: flex !important;
    }
    .menu-custom {
      margin-left: auto !important;
    }
    .mega-menu__content {
      opacity: 0;
      transform: translateY(-10px);
      visibility: hidden;
      transition: opacity 0.5s ease-out, transform 0.5s ease-out, visibility 0.5s;
      left: auto;
    }
    .mega-menu:hover .mega-menu__content {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }

    .header__active-menu-item {
      text-decoration: none;
    }

    .mega-menu__link--active {
      text-decoration: none;
    }
    .mega-menu__list {
      grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    }

    .header__inline-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .list-menu__item {
      text-decoration: none;
    }
    .header__active-menu-item,
    .header__menu-item {
      font-size: 1.7rem;
      text-decoration: none;
      color: white;
    }

    .mega-menu__link--level-2 {
      font-size: 2rem;
      padding-bottom: 1rem;
    }

    .mega-menu__link:hover,
    .mega-menu__link--level-2:hover,
    .mega-menu__link--level-3:hover {
      color: #ff6347;
      text-decoration: underline;
      text-decoration-color: #ff6347;
    }
    .header__menu-item:hover span {
      text-decoration: none;
      color: #ff6347;
      text-decoration-color: #ff6347;
      border-bottom: 2px solid #ff6347;
    }

    .header__menu-item,
    .mega-menu__link {
      text-decoration: none;
    }

    .header__menu-item {
      padding-right: 2.7rem;
    }
    .lets-talk-container a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      border: 1px solid white;
      padding: 1.2rem 3rem;
      background: linear-gradient(90deg, #4a90e2 0%, #e2844a 100%);
      background-size: 200% 100%;
      transition: all 0.5s ease;
      overflow: hidden;
    }

    .lets-talk-container {
      padding-left: 1.5rem;
    }

    .lets-talk-container .header__menu-item span {
      border-bottom: none;
      color: white;
      transition: all 0.5s ease;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .lets-talk-container:hover {
      background-position: 100% 0;
      transform: scale(1.05);
    }

    .lets-talk-container:hover .header__menu-item span {
      color: white;
    }

    .lets-talk-container .bi-arrow-right {
      transition: transform 0.5s ease;
    }

  }
{%- endstyle -%}

<nav class="header__inline-menu menu-custom">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <div id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {% comment %} {{- 'icon-caret.svg' | inline_asset_content -}} {% endcomment %}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
    <li class="lets-talk-container">
      <a
        id="HeaderMenu-{{ link.handle }}"
        href="{{ link.url }}"
        class="header__menu-item list-menu__item link link--text focus-inset"
        {% if link.current %}
          aria-current="page"
        {% endif %}
      >
        <span
          {%- if link.current %}
            class="header__active-menu-item"
          {% endif %}
        >
          Let's talk<i class="bi bi-arrow-right"></i>
        </span>
      </a>
    </li>
  </ul>
</nav>
