<div class="wrapper">
  <div class="image-container">
    <img
      id="main-image"
      src="{{ section.blocks.first.settings.image | img_url: 'master' }}"
      alt="Main Image"
      width="1200"
      height="800"
    >
  </div>
  <div class="text-container">
    {% for block in section.blocks %}
      <div class="block">
        <img
          src="{{ block.settings.image | img_url: 'master' }}"
          alt="{{ block.settings.title }}"
          width="1200"
          height="800"
        >
        <div class="text-section" data-image="{{ block.settings.image | img_url: 'master' }}">
          <p class="text-section__title">{{ block.settings.title }}</p>
          <p class="text-section__description">{{ block.settings.description }}</p>
          <p class="text-section__button">
            <a
              class=" w-100"
              aria-label="Growth page"
              href="https://www.balanceinternet.com.au/services/ecommerce-growth/"
            >
              View More <span class="button-transparent"></span>
            </a>
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Scrolling content balance",
  "settings": [],
  "blocks": [
    {
      "type": "text_section",
      "name": "Text Section",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Scrolling Content Balance",
      "category": "Custom"
    }
  ]
}
{% endschema %}
